body {
    
}


img {
   height: auto;
   width: 50%
}


menu {
  min-width: 50%;
  padding: auto 30%;
}



a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
